@import '../../../variables';
@import '../../../mixins';

.current-day {
  @include borderRadius();
  width: 340px;
  height: 117px;
  background-color: $defaultCardBackgroundColor;
  margin: 20px 17px 0px 18px;
}

.title {
  margin: 0px 0px 0px 10px;
  height: 40px;
  width: 162px;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: $defaultTextColor;
}

.subtitle {
  margin: 10px 0px 0px 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
  width: 188px;
  height: 19px;
  color: $dafaultSubtitleColor;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.back-button {
  margin-left: 10px;
}