@import '../../../variables';

.calories {
  width: 340px;
  height: 93px;
  border-radius: 28px;
  background-color: $defaultCardBackgroundColor;
  margin: 0px 17px 15px 18px;
}

.icon-background {
  display: inline-block;
  margin: 25px 15px 20px 20px;
  height: 40.98px;
  width: 40.98px;
  border-radius: 50px;
  background-color: $defaultCardBackgroundColor;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin: 6.83px;
  width: 27.32px;
  height: 27.32px;
}

.calories-text {
  color: $defaultTextColor;
  text-align: left;
  margin: 5px 0px 5px 5px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.subtitle {
  color: $dafaultSubtitleColor;
  font-size: 16px;
  font-weight: 500;
}

.burned-calories {
  font-size: 38px;
  color: $defaultTextColor;
  font-weight: bold;
  height: 45px;
  margin-right: 30px;
  margin-top: 10px;
}
