.steps {
  width: 340px;
  height: 93px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 0px 17px 15px 18px;
}

.icon-background {
  display: inline-block;
  margin: 25px 15px 20px 20px;
  height: 40.98px;
  width: 40.98px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.25);
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin: 6.83px;
  width: 27.32px;
  height: 27.32px;
}

.steps-text {
  color: #ffffff;
  text-align: left;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 5px 0px 5px 5px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.subtitle {
  color: #ffffff;
  font-size: 16px;
  opacity: 70%;
}

.total-steps {
  font-size: 38px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  height: 45px;
  margin-right: 30px;
  margin-top: 10px;
}
