@import '../../../variables';
@import '../../../mixins';

.welcome {
    @include borderRadius();
    height: 117px;
    background-color: $cardBackgroundColor;
    margin: 0px 17px 0px 18px;
}

.title {
    @include welcome-title-font();
    margin-left: 27px;
    padding-top: 24px;
    margin-bottom: 10px;
}

.subtitle {
    @include welcome-subtitle-font();
    margin-top: 0px;
    margin-left: 27px;
}