@import '../../../variables';
@import '../../../mixins';

.activity {
  @include borderRadius();
  width: 340px;
  height: 184px;
  background-color: $defaultCardBackgroundColor;
  margin: 30px 17px 15px 18px;
}

.icon-background {
  display: inline-block;
  margin: 25px 15px 20px 20px;
  height: 40.98px;
  width: 40.98px;
  border-radius: 50px;
  background-color: $defaultCardBackgroundColor;
}

.inline {
  display: inline-block;
}

.icon {
  margin: 6.83px;
  width: 27.32px;
  height: 27.32px;
}

.activity-text {
  color: $defaultTextColor;
  text-align: left;
  margin: 5px;
  margin-left: 0px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.subtitle {
  color: $dafaultSubtitleColor;
  font-size: 16px;
  font-weight: 500;
}

.average-time {
    font-size: 38px;
    color: $defaultTextColor;
    text-align: left;
    font-weight: bold;
    margin-top: 7px;
    height: 45px;
    margin-bottom: 46px;
    margin-left: 76px;
}