$themeColor1: #34C7A0;
$themecolor2: #008AA2;
$titleColor: #00B6A3;
$subtitleColor: #898694;
$dafaultSubtitleColor: rgba(255, 255, 255, 0.7);
$defaultTextColor: #FFFFFF;
$cardBackgroundColor: #FFFFFF;
$defaultCardBackgroundColor: rgba(255, 255, 255, 0.25);
$activeTextColor: rgba(0, 182, 164, 0.7);
$mesuresColor: #B3B3B3;
